<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>ZongWuInsertAction</servlet-name>
    <servlet-class>organization.ZongWuInsertAction </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZongWuInsertAction</servlet-name>
    <url-pattern>/ZongWuInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZongWuListAction</servlet-name>
    <servlet-class>organization.ZongWuListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZongWuListAction</servlet-name>
    <url-pattern>/ZongWuListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZWModifyAction</servlet-name>
    <servlet-class>organization.ZWModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZWModifyAction</servlet-name>
    <url-pattern>/ZWModifyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZWGetCodeAction</servlet-name>
    <servlet-class>organization.ZWGetCodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZWGetCodeAction</servlet-name>
    <url-pattern>/ZWGetCodeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZongWuDelAction</servlet-name>
    <servlet-class>organization.ZongWuDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZongWuDelAction</servlet-name>
    <url-pattern>/ZongWuDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RZGetCodeAction</servlet-name>
    <servlet-class>organization.RZGetCodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RZGetCodeAction</servlet-name>
    <url-pattern>/RZGetCodeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NetGetCodeAction</servlet-name>
    <servlet-class>organization.NetGetCodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetGetCodeAction</servlet-name>
    <url-pattern>/NetGetCodeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CWGetCodeAction</servlet-name>
    <servlet-class>organization.CWGetCodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CWGetCodeAction</servlet-name>
    <url-pattern>/CWGetCodeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RengZiInsertAction</servlet-name>
    <servlet-class>organization.RengZiInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RengZiInsertAction</servlet-name>
    <url-pattern>/RengZiInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RengZiListAction</servlet-name>
    <servlet-class>organization.RengZiListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RengZiListAction</servlet-name>
    <url-pattern>/RengZiListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RengZiDelAction</servlet-name>
    <servlet-class>organization.RengZiDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RengZiDelAction</servlet-name>
    <url-pattern>/RengZiDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RZModifyAction</servlet-name>
    <servlet-class>organization.RZModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RZModifyAction</servlet-name>
    <url-pattern>/RZModifyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CaiWuInsertAction</servlet-name>
    <servlet-class>organization.CaiWuInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaiWuInsertAction</servlet-name>
    <url-pattern>/CaiWuInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CaiWuListAction</servlet-name>
    <servlet-class>organization.CaiWuListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaiWuListAction</servlet-name>
    <url-pattern>/CaiWuListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CaiWuDelAction</servlet-name>
    <servlet-class>organization.CaiWuDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaiWuDelAction</servlet-name>
    <url-pattern>/CaiWuDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CWModifyAction</servlet-name>
    <servlet-class>organization.CWModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CWModifyAction</servlet-name>
    <url-pattern>/CWModifyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NetInsertAction</servlet-name>
    <servlet-class>organization.NetInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetInsertAction</servlet-name>
    <url-pattern>/NetInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NetListAction</servlet-name>
    <servlet-class>organization.NetListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetListAction</servlet-name>
    <url-pattern>/NetListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NetDelAction</servlet-name>
    <servlet-class>organization.NetDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetDelAction</servlet-name>
    <url-pattern>/NetDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NetModifyAction</servlet-name>
    <servlet-class>organization.NetModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetModifyAction</servlet-name>
    <url-pattern>/NetModifyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TitleListAction</servlet-name>
    <servlet-class>staff.TitleListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitleListAction</servlet-name>
    <url-pattern>/TitleListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TitleInsertAction</servlet-name>
    <servlet-class>staff.TitleInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitleInsertAction</servlet-name>
    <url-pattern>/TitleInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TitleDelAction</servlet-name>
    <servlet-class>staff.TitleDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitleDelAction</servlet-name>
    <url-pattern>/TitleDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetidAction</servlet-name>
    <servlet-class>staff.GetidAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetidAction</servlet-name>
    <url-pattern>/GetidAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TitleModifyAction</servlet-name>
    <servlet-class>staff.TitleModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TitleModifyAction</servlet-name>
    <url-pattern>/TitleModifyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostModifyAction</servlet-name>
    <servlet-class>post.PostModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostModifyAction</servlet-name>
    <url-pattern>/PostModifyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPostidAction</servlet-name>
    <servlet-class>post.GetPostidAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostidAction</servlet-name>
    <url-pattern>/GetPostidAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostListAction</servlet-name>
    <servlet-class>post.PostListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostListAction</servlet-name>
    <url-pattern>/PostListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostInsertAction</servlet-name>
    <servlet-class>post.PostInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostInsertAction</servlet-name>
    <url-pattern>/PostInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostDelAction</servlet-name>
    <servlet-class>post.PostDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostDelAction</servlet-name>
    <url-pattern>/PostDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpListAction</servlet-name>
    <servlet-class>employee.EmpListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpListAction</servlet-name>
    <url-pattern>/EmpListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpInsertAction</servlet-name>
    <servlet-class>employee.EmpInsertAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpInsertAction</servlet-name>
    <url-pattern>/EmpInsertAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpDelAction</servlet-name>
    <servlet-class>employee.EmpDelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDelAction</servlet-name>
    <url-pattern>/EmpDelAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetEmpidAction</servlet-name>
    <servlet-class>employee.GetEmpidAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpidAction</servlet-name>
    <url-pattern>/GetEmpidAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpModifyAction</servlet-name>
    <servlet-class>employee.EmpModifyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpModifyAction</servlet-name>
    <url-pattern>/EmpModifyAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDeptPostTitleAction</servlet-name>
    <servlet-class>employee.GetDeptPostTitleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeptPostTitleAction</servlet-name>
    <url-pattern>/GetDeptPostTitleAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAction</servlet-name>
    <servlet-class>statistics.SearchAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAction</servlet-name>
    <url-pattern>/SearchAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>statistics.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailAction</servlet-name>
    <servlet-class>statistics.DetailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailAction</servlet-name>
    <url-pattern>/DetailAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>statistics.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
</web-app>